<html>
<script>
    var values_list = [{% for item in humidity_values %}
    {{ item }},
    {% endfor %}
        ]

    var labels_list = [{% for item in humidity_labels %}
    "{{item}}",
        {% endfor %}
    ]
</script>


{% include 'head.html' %}

<head>
    <title>MicroStation - Charts</title>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="row d-flex justify-content-center m-5">
        <div class="col-10">
            <div class="container">
                <div class="card shaddow">
                    <canvas id="humidity_chart" width="800px" height="400" style="margin-left: -5px;"></canvas>
                </div>
            </div>
        </div>
    </div>
</body>

</html>