<html>
{% include 'head.html' %}

<body>
    {% include 'navbar.html' %}
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-left" scope="col">Uhrzeit</th>
                    <th class="text-left" scope="col">Datum</th>
                    <th class="text-left" scope="col">Sensor</th>
                    <th class="text-left" scope="col">Wert</th>
                    <th class="text-left" scope="col">Einheit</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in data %}
                <tr>
                    <td class="text-left">{{ entry.time }}</td>
                    <td class="text-left">{{ entry.date }}</td>
                    <td class="text-left">{{ entry.sensor }}</td>
                    <td class="text-left">{{ entry.value }}</td>
                    <td class="text-left">{{ entry.unit }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>