body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
}

.card {
    background: #ffffFF;
    display: block;
    margin: 20px 20px 0 0 auto;
    position: center;
}

.card-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.time {
    color: black;
}

#sticky-footer {
    flex-shrink: None;
}

.page-content {
    flex: 1 0 auto;
}